<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remove Employee</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${employee.id}"></th>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.birthday}"></td>
            <td th:text="${employee.payment} + '$'"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/employee/remove}" th:object="${employee}" method="POST">
        <input type="hidden" name="id" th:value="${employee.id}"/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Remove</button>
        </div>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>